---
import Footer from "../components/global/Footer.astro";
import NavBar from "../components/global/NavBar.astro";
import SideBar from "../components/global/SideBar.astro";
import '../styles/global.css'

const theme = Astro.cookies.get('theme') || {value: 'light'}
console.log(theme?.value)
---

<!doctype html>
<html lang="en" data-theme={theme.value}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>IHRO</title>
	</head>
	<body>
		<NavBar/>
		<SideBar/>
		<slot />
		<Footer/>
	</body>
</html>

