---
import { supportedLocales } from "../../locals/languages";
import { ChartNoAxesGantt, Languages, Moon, Sun, CircleX } from "@lucide/astro";

const theme = Astro.cookies.get("theme") || { value: "light" };
---

<nav
  class="top-0 w-full border-gray-300 backdrop-blur-md fixed z-50 left-0 right-0"
>
  <div class="flex justify-between items-center px-2">
    <div class="flex items-center gap-2">
      <img src="/favicon.svg" alt="logo" class="h-8 w-8" />
      <span class="font-semibold text-foreground">IHRO</span>
    </div>

    <div class="relative flex gap-2">
      <button id="themebtn" class="cursor-pointer">
        <Moon class={theme ? "hidden" : "block"} id="moon" />
        <Sun class={theme ? "block" : "hidden"} id="sun" />
      </button>
      <button
        type="button"
        class="px-3 flex gap-3 py-1.5 text-sm cursor-pointer"
        onclick="document.getElementById('langMenu').classList.toggle('hidden')"
      >
        <Languages />
        <p class="hidden md:block">
          {
            supportedLocales.map((locale) =>
              locale.code == Astro.params.local ? locale.label : ""
            )
          }
        </p>
      </button>

      <button id="activitybtn" class="cursor-pointer">
        <ChartNoAxesGantt id="menu-open" class=""/>
        <CircleX id="menu-close" class="hidden" />
      </button>

      <div
        id="langMenu"
        class="hidden absolute right-0 top-8 mt-2 w-40 rounded-md backdrop-blur-3xl shadow-md z-10"
      >
        <div class="flex backdrop-blur-3xl text-foreground border border-border bg-background flex-col">
          {
            supportedLocales.map((locale) => (
              <a
                href={`/${locale.code}`}
                class="px-4 py-2 hover:bg-foreground hover:text-background text-sm"
              >
                {locale.label}
              </a>
            ))
          }
        </div>
      </div>
    </div>
  </div>
</nav>
<script>
  const activitybtn = document.getElementById("activitybtn");
  const themebtn = document.getElementById("themebtn");
  const sun = document.getElementById("sun");
  const moon = document.getElementById("moon");
  const menuOpen = document.getElementById("menu-open");
  const menuClose = document.getElementById("menu-close");

  let active = false;

  activitybtn?.addEventListener("click", () => {
    active = !active;
    const event = new CustomEvent(active ? "sidebar:open" : "sidebar:close", {
      detail: { from: "button", time: Date.now() },
      bubbles: true,
      composed: true,
    });
    document.dispatchEvent(event);
    menuOpen?.classList.toggle("hidden");
    menuClose?.classList.toggle("hidden");
  });

themebtn?.addEventListener("click", () => {
  const currentTheme = document.documentElement.dataset.theme || "light";
  const newTheme = currentTheme === "light" ? "dark" : "light";
  document.cookie = `theme=${newTheme}; path=/; max-age=31536000`;
  document.documentElement.dataset.theme = newTheme;
  sun?.classList.toggle("hidden");
  moon?.classList.toggle("hidden");
});

</script>
